@model ViewModel.Models.ProblemModel
@{
    Layout = "~/Views/Shared/Layout/_DualColumn.cshtml";
}
@section Description
{
    <title>@ViewData["title"]</title>
}
<script src="~/Scripts/JavaScript.js"></script>
<div class="container body-content">
    <div style="margin-top:55px" class="row">
        <div class="col-md-8">
            <span style="top:60px;" class="visible-xs-inline visible-sm-inline flag">
                <a>
                    <span class="fa fa-window-restore"></span> 更多
                </a>
            </span>
            <form action="/Problem?excludeCanceled=true&amp;excludeRewarded=true" method="post" novalidate="novalidate">
                <div class="clearfix" style="border-left:6px solid gray; margin-bottom:20px">
                    <div class="pull-left text-muted" style="margin:5px 0;">
                        <label class="checkbox-inline">
                            <span class="fa fa-eye-slash"></span> 不显示
                        </label>
                        <label class="checkbox-inline">
                            <input checked="checked" data-val="true" data-val-required="ExcludeRewarded 字段是必需的。" id="ExcludeRewarded" name="ExcludeRewarded" type="checkbox" value="true"><input name="ExcludeRewarded" type="hidden" value="false">已酬谢
                        </label>
                        <label class="checkbox-inline">
                            <input checked="checked" data-val="true" data-val-required="ExcludeCanceled 字段是必需的。" id="ExcludeCanceled" name="ExcludeCanceled" type="checkbox" value="true"><input name="ExcludeCanceled" type="hidden" value="false">已撤销
                        </label>
                        <label class="checkbox-inline">
                            <input data-val="true" data-val-required="ExcludeInProgress 字段是必需的。" id="ExcludeInProgress" name="ExcludeInProgress" type="checkbox" value="true"><input name="ExcludeInProgress" type="hidden" value="false">协助中
                        </label>
                    </div>
                    <div class="pull-left text-info" style="margin:5px 0;">
                        <label class="checkbox-inline">
                            <span class="fa fa-eye"></span> 只显示
                        </label>
                        <label class="checkbox-inline">
                            <input data-val="true" data-val-required="OnlyMyFocus 字段是必需的。" id="OnlyMyFocus" name="OnlyMyFocus" type="checkbox" value="true"><input name="OnlyMyFocus" type="hidden" value="false"> 我的关注
                        </label>
                        <label class="checkbox-inline">
                            <input data-val="true" data-val-required="OnlySummaried 字段是必需的。" id="OnlySummaried" name="OnlySummaried" type="checkbox" value="true"><input name="OnlySummaried" type="hidden" value="false"> 有总结
                        </label>
                    </div>

                </div>
            </form>
            <div style="margin:10px 0; clear:both;">
                <div class="text-muted" style="border:1px dashed; border-radius:3px 4px; padding:5px 10px;">
                    <span class="fa fa-exclamation-triangle text-warning"></span> 该发布因<span class="text-warning">广告</span>被管理员删除（DeleteLogId=6）。如有疑问，可<a href="/Contact/Us">联系我们</a>。
                </div>
            </div>
            <hr>
            <div style="margin:10px 0; clear:both;">
                <div style="padding-top:20px;">
                    <span data-toggle="tooltip" title="" data-original-title="更新：2018年11月19日 11点49分">
                        <small class="text-muted">
                            <span>
                                <span class="fa fa-calendar"></span> <span> 2018年07月02日 14点07分</span>
                            </span>
                        </small>

                    </span>
                    <a href="/Problem/Edit/464" class="hide btn" zyf-problem-author-id="253">
                        <span class="fa fa-pencil-square-o"></span> 修改
                    </a>
                    <span class="pull-right">
                        <span data-author-id="253">


                            <span data-toggle="tooltip" title="" data-original-title="">
                                <span class="fa fa-user-circle-o"></span>
                                <a href="/User/253" zyf-show-contact="253">
                                    那是花开911
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                                <span>②</span>
                            </a>
                        </span>
                    </span>
                    <div style="font-size:24px;word-break:break-all;">

                        <span class="problem-status label-warning">协助中</span>


                        <span class="hide" data-problem-status="InProgress"></span>
                        <a href="/Problem/464" style="color:black;">ASP 网站迁移 </a>
                    </div>
                    <div style="margin-top:10px; margin-bottom:10px; word-break:break-all;" class="clearfix">
                        <div class="pull-right text-center remote-icon" style="margin-left:20px;" title="" data-toggle="tooltip" data-original-title="远程">
                            <b class="iconfont icon-remote-help" style="font-size:20px;"></b>
                        </div>
                        在服务器上把原先的asp网站整体迁移出来，在新的服务器上重新布置<a href="/Problem/464" data-toggle="tooltip" title="" data-original-title="全文">……</a>
                        <a href="/Problem/AdminEdit?id=464" class="hide" style="margin-left:15px;">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </div>
                    <p style="clear:both;">
                        <span class="fa fa-tags " style="margin-right:10px;"></span>
                        <span zyf-keyword="3" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 3 次">
                            <a href="/Problem?keyword=255" style="color:white;">asp</a>
                        </span>
                        <span zyf-keyword="11" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 11 次">
                            <a href="/Problem?keyword=98" style="color:white;">数据库</a>
                        </span>
                        <a href="" class="hide" zyf-keyword-update="464">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </p>
                    <div class="status">
                        <span>
                            <span>

                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                    <span class="iconfont icon-money"></span>
                                </a>

                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">悬赏：</span>
                            </span>
                            <span><a href="/FAQ/Problem#settlement" zyf-problem-bounty-settlement="" data-max="10" data-toggle="tooltip" title="" data-original-title="最多10枚">实结</a></span>
                        </span>
                        <span>
                            <a href="/Problem/464#new-comment">
                                <span class="fa fa-heart" style="color:red;"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">应答：</span>
                            </a>
                            <span>
                                4
                            </span>
                        </span>
                        <span>
                            <a href="/Problem/464#summary">
                                <span class="fa fa-key"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">总结：</span>
                            </a>
                            <span>
                                0
                            </span>
                        </span>
                    </div>

                </div>

            </div>
            <hr>
            <div style="margin:10px 0; clear:both;">
                <div style="padding-top:20px;">
                    <span data-toggle="tooltip" title="" data-original-title="更新：2019年06月25日 18点02分">
                        <small class="text-muted">
                            <span>
                                <span class="fa fa-calendar"></span> <span> 2018年04月26日 15点04分</span>
                            </span>
                        </small>

                    </span>
                    <a href="/Problem/Edit/396" class="hide btn" zyf-problem-author-id="3129">
                        <span class="fa fa-pencil-square-o"></span> 修改
                    </a>
                    <span class="pull-right">
                        <span data-author-id="3129">


                            <span data-toggle="tooltip" title="" data-original-title="">
                                <span class="fa fa-user-circle-o"></span>
                                <a href="/User/3129" zyf-show-contact="3129">
                                    1462556133
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                                <span>②</span>
                            </a>
                        </span>
                    </span>
                    <div style="font-size:24px;word-break:break-all;">

                        <span class="problem-status label-info">待协助</span>


                        <span class="hide" data-problem-status="Open"></span>
                        <a href="/Problem/396" style="color:black;"></a>
                    </div>
                    <div style="margin-top:10px; margin-bottom:10px; word-break:break-all;" class="clearfix">
                        <a href="/Problem/396" data-toggle="tooltip" title="" data-original-title="全文">……</a>
                        <a href="/Problem/AdminEdit?id=396" class="hide" style="margin-left:15px;">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </div>
                    <p style="clear:both;">
                        <span class="fa fa-tags " style="margin-right:10px;"></span>
                        <span zyf-keyword="2" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 2 次">
                            <a href="/Problem?keyword=12" style="color:white;">多线程</a>
                        </span>
                        <span zyf-keyword="71" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 71 次">
                            <a href="/Problem?keyword=170" style="color:white;">JAVA</a>
                        </span>
                        <span zyf-keyword="242" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 242 次">
                            <a href="/Problem?keyword=163" style="color:white;">编程开发语言</a>
                        </span>
                        <a href="" class="hide" zyf-keyword-update="396">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </p>
                    <div class="status">
                        <span>
                            <span>

                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                    <span class="iconfont icon-money"></span>
                                </a>

                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">悬赏：</span>
                            </span>
                            <span data-toggle="tooltip" title="" data-original-title="定额">0</span>
                        </span>
                        <span>
                            <a href="/Problem/396#new-comment">
                                <span class="fa fa-heart" style="color:red;"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">应答：</span>
                            </a>
                            <span>
                                5
                            </span>
                        </span>
                        <span>
                            <a href="/Problem/396#summary">
                                <span class="fa fa-key"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">总结：</span>
                            </a>
                            <span>
                                0
                            </span>
                        </span>
                    </div>

                </div>

            </div>
            <hr>
            <div style="margin:10px 0; clear:both;">
                <div style="padding-top:20px;">
                    <span data-toggle="tooltip" title="" data-original-title="更新：2018年07月31日 09点00分">
                        <small class="text-muted">
                            <span>
                                <span class="fa fa-calendar"></span> <span> 2018年04月20日 17点44分</span>
                            </span>
                        </small>

                    </span>
                    <a href="/Problem/Edit/391" class="hide btn" zyf-problem-author-id="2974">
                        <span class="fa fa-pencil-square-o"></span> 修改
                    </a>
                    <span class="pull-right">
                        <span data-author-id="2974">


                            <span data-toggle="tooltip" title="" data-original-title="">
                                <span class="fa fa-user-circle-o"></span>
                                <a href="/User/2974" zyf-show-contact="2974">
                                    txdyr
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                                <span>②</span>
                            </a>
                        </span>
                    </span>
                    <div style="font-size:24px;word-break:break-all;">

                        <span class="problem-status label-info">待协助</span>


                        <span class="hide" data-problem-status="Open"></span>
                        <a href="/Problem/391" style="color:black;">Winform里控件绑定数据源就会报错</a>
                    </div>
                    <div style="margin-top:10px; margin-bottom:10px; word-break:break-all;" class="clearfix">
                        <div class="pull-right text-center remote-icon" style="margin-left:20px;" title="" data-toggle="tooltip" data-original-title="远程">
                            <b class="iconfont icon-remote-help" style="font-size:20px;"></b>
                        </div>
                        项目里的控件绑定属性都会出现这个问题<a href="/Problem/391" data-toggle="tooltip" title="" data-original-title="全文">……</a>
                        <a href="/Problem/AdminEdit?id=391" class="hide" style="margin-left:15px;">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </div>
                    <p style="clear:both;">
                        <span class="fa fa-tags " style="margin-right:10px;"></span>
                        <span zyf-keyword="25" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 25 次">
                            <a href="/Problem?keyword=182" style="color:white;">VisualStudio</a>
                        </span>
                        <span zyf-keyword="68" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 68 次">
                            <a href="/Problem?keyword=162" style="color:white;">工具软件</a>
                        </span>
                        <span zyf-keyword="96" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 96 次">
                            <a href="/Problem?keyword=169" style="color:white;">C#</a>
                        </span>
                        <a href="" class="hide" zyf-keyword-update="391">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </p>
                    <div class="status">
                        <span>
                            <span>

                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                    <span class="iconfont icon-money"></span>
                                </a>

                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">悬赏：</span>
                            </span>
                            <span data-toggle="tooltip" title="" data-original-title="定额">0</span>
                        </span>
                        <span>
                            <a href="/Problem/391#new-comment">
                                <span class="fa fa-heart" style="color:red;"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">应答：</span>
                            </a>
                            <span>
                                3
                            </span>
                        </span>
                        <span>
                            <a href="/Problem/391#summary">
                                <span class="fa fa-key"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">总结：</span>
                            </a>
                            <span>
                                0
                            </span>
                        </span>
                    </div>

                </div>

            </div>
            <hr>
            <div style="margin:10px 0; clear:both;">
                <div style="padding-top:20px;">
                    <span data-toggle="tooltip" title="" data-original-title="更新：2018年06月09日 16点12分">
                        <small class="text-muted">
                            <span>
                                <span class="fa fa-calendar"></span> <span> 2018年04月20日 14点06分</span>
                            </span>
                        </small>

                    </span>
                    <a href="/Problem/Edit/390" class="hide btn">
                        <span class="fa fa-pencil-square-o"></span> 修改
                    </a>
                    <span class="pull-right">
                        <span data-author-id="3091">


                            <span data-toggle="tooltip" title="" data-original-title="">
                                <span class="fa fa-user-circle-o"></span>
                                <a href="/User/3091">
                                    别闹
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                <span>①</span>
                            </a>
                        </span>
                    </span>
                    <div style="font-size:24px;word-break:break-all;">
                        <span class="problem-status label-warning">协助中</span>
                        <span class="hide" data-problem-status="InProgress"></span>
                        <a href="/Problem/390" style="color:black;">SQL Server多表查询,中间表有字段可能为空</a>
                    </div>
                    <div style="margin-top:10px; margin-bottom:10px; word-break:break-all;" class="clearfix">
                        <div class="pull-right text-center remote-icon" style="margin-left:20px;" title="" data-toggle="tooltip" data-original-title="远程">
                            <b class="iconfont icon-remote-help" style="font-size:20px;"></b>
                        </div>
                        如图,表B中的D,E,F可能会是空,SQL怎么写,才能保证数据的一致性;<a href="/Problem/390" data-toggle="tooltip" title="" data-original-title="全文">……</a>
                        <a href="/Problem/AdminEdit?id=390" class="hide" style="margin-left:15px;">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </div>
                    <p style="clear:both;">
                        <span class="fa fa-tags " style="margin-right:10px;"></span>
                        <span title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 11 次">
                            <a href="/Problem?keyword=98" style="color:white;">数据库</a>
                        </span>
                        <span title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 3 次">
                            <a href="/Problem?keyword=84" style="color:white;">sqlserver</a>
                        </span>
                        <span title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 18 次">
                            <a href="/Problem?keyword=174" style="color:white;">SQL</a>
                        </span>
                        <a href="" class="hide">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </p>
                    <div class="status">
                        <span>
                            <span>

                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                    <span class="iconfont icon-money"></span>
                                </a>

                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">悬赏：</span>
                            </span>
                            <span data-toggle="tooltip" title="" data-original-title="定额">30</span>
                        </span>
                        <span>
                            <a href="/Problem/390#new-comment">
                                <span class="fa fa-heart" style="color:red;"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">应答：</span>
                            </a>
                            <span>
                                5
                            </span>
                        </span>
                        <span>
                            <a href="/Problem/390#summary">
                                <span class="fa fa-key"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">总结：</span>
                            </a>
                            <span>
                                0
                            </span>
                        </span>
                    </div>

                </div>

            </div>
            <hr>
            <div style="margin:10px 0; clear:both;">
                <div style="padding-top:20px;">
                    <span data-toggle="tooltip" title="" data-original-title="更新：2018年08月28日 23点52分">
                        <small class="text-muted">
                            <span>
                                <span class="fa fa-calendar"></span> <span> 2018年04月17日 17点12分</span>
                            </span>
                        </small>

                    </span>
                    <a href="/Problem/Edit/384" class="hide btn">
                        <span class="fa fa-pencil-square-o"></span> 修改
                    </a>
                    <span class="pull-right">
                        <span data-author-id="1010">
                            <span data-toggle="tooltip" title="" data-original-title="">
                                <span class="fa fa-user-circle-o"></span>
                                <a href="/User/1010">
                                    ghwolf
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级教师">
                                <span>④</span>
                            </a>
                        </span>
                    </span>
                    <div style="font-size:24px;word-break:break-all;">
                        <span class="problem-status label-info">待协助</span>
                        <span class="hide" data-problem-status="Open"></span>
                        <a href="/Problem/384" style="color:black;">西安大专应届生找个JAVA开发的工作，有没有推荐的</a>
                    </div>
                    <div style="margin-top:10px; margin-bottom:10px; word-break:break-all;" class="clearfix">
                        本人3个月后毕业，自学3年JAVA，对J2EE的一整套开发体系非常熟悉，OA类的项目做的比较多。荣获第八届蓝桥杯JAVA C组个人赛全国一等奖，之后去上海实习几个月，因为一些原因必须回西安发展，但是投简历无数，要么没有音信，要么第一轮面试结束没有消息，要么学历不过关--。智联上西安的JAVA校招几乎没有，1个月过去了，还是没有工作，我都不求工资，只求有长远发展，不会的我都愿意学，但是不想去那种混日子的公司，要有激情，有创新，有热血的公司。有没有推荐的，或者那位大神觉得我可以内推一下我，至少给个面试机会<a href="/Problem/384" data-toggle="tooltip" title="" data-original-title="全文">……</a>
                        <a href="/Problem/AdminEdit?id=384" class="hide" style="margin-left:15px;">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </div>
                    <p style="clear:both;">
                        <span class="fa fa-tags " style="margin-right:10px;"></span>
                        <span title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 71 次">
                            <a href="/Problem?keyword=170" style="color:white;">JAVA</a>
                        </span>
                        <span title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 18 次">
                            <a href="/Problem?keyword=184" style="color:white;">职场</a>
                        </span>
                        <span title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 55 次">
                            <a href="/Problem?keyword=164" style="color:white;">顾问咨询</a>
                        </span>
                        <a href="" class="hide" zyf-keyword-update="384">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </p>
                    <div class="status">
                        <span>
                            <span>

                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                    <span class="iconfont icon-money"></span>
                                </a>

                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">悬赏：</span>
                            </span>
                            <span data-toggle="tooltip" title="" data-original-title="定额">0</span>
                        </span>
                        <span>
                            <a href="/Problem/384#new-comment">
                                <span class="fa fa-heart" style="color:red;"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">应答：</span>
                            </a>
                            <span>
                                2
                            </span>
                        </span>
                        <span>
                            <a href="/Problem/384#summary">
                                <span class="fa fa-key"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">总结：</span>
                            </a>
                            <span>
                                0
                            </span>
                        </span>
                    </div>

                </div>

            </div>
            <hr>
            <div style="margin:10px 0; clear:both;">
                <div style="padding-top:20px;">
                    <span data-toggle="tooltip" title="" data-original-title="更新：2019年11月26日 19点35分">
                        <small class="text-muted">
                            <span>
                                <span class="fa fa-calendar"></span> <span> 2018年04月14日 10点50分</span>
                            </span>
                        </small>

                    </span>
                    <a href="/Problem/Edit/382" class="hide btn">
                        <span class="fa fa-pencil-square-o"></span> 修改
                    </a>
                    <span class="pull-right">
                        <span data-author-id="2974">


                            <span data-toggle="tooltip" title="" data-original-title="">
                                <span class="fa fa-user-circle-o"></span>
                                <a href="/User/2974" zyf-show-contact="2974">
                                    txdyr
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                                <span>②</span>
                            </a>
                        </span>
                    </span>
                    <div style="font-size:24px;word-break:break-all;">

                        <span class="problem-status label-info">待协助</span>


                        <span class="hide" data-problem-status="Open"></span>
                        <a href="/Problem/382" style="color:black;">工作快一年，对下份工作的选择</a>
                    </div>
                    <div style="margin-top:10px; margin-bottom:10px; word-break:break-all;" class="clearfix">
                        <div class="pull-right text-center remote-icon" style="margin-left:20px;" title="" data-toggle="tooltip" data-original-title="远程">
                            <b class="iconfont icon-remote-help" style="font-size:20px;"></b>
                        </div>
                        去年6月份毕业的，今年换工作，目前有两家意向度比较高的offer,一家是大公司，一家是创业公司，不知道现在应该如何选择，请大佬给点意见<a href="/Problem/382" data-toggle="tooltip" title="" data-original-title="全文">……</a>
                        <a href="/Problem/AdminEdit?id=382" class="hide" style="margin-left:15px;">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </div>
                    <p style="clear:both;">
                        <span class="fa fa-tags " style="margin-right:10px;"></span>
                        <span title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 18 次">
                            <a href="/Problem?keyword=184" style="color:white;">职场</a>
                        </span>
                        <span title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 55 次">
                            <a href="/Problem?keyword=164" style="color:white;">顾问咨询</a>
                        </span>
                        <a href="" class="hide" zyf-keyword-update="382">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </p>
                    <div class="status">
                        <span>
                            <span>

                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                    <span class="iconfont icon-money"></span>
                                </a>

                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">悬赏：</span>
                            </span>
                            <span data-toggle="tooltip" title="" data-original-title="定额">0</span>
                        </span>
                        <span>
                            <a href="/Problem/382#new-comment">
                                <span class="fa fa-heart" style="color:red;"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">应答：</span>
                            </a>
                            <span>
                                9
                            </span>
                        </span>
                        <span>
                            <a href="/Problem/382#summary">
                                <span class="fa fa-key"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">总结：</span>
                            </a>
                            <span>
                                0
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <hr>
            <div style="margin:10px 0; clear:both;">
                <div style="padding-top:20px;">
                    <span data-toggle="tooltip" title="" data-original-title="更新：2018年08月30日 11点01分">
                        <small class="text-muted">
                            <span>
                                <span class="fa fa-calendar"></span> <span> 2018年02月08日 09点55分</span>
                            </span>
                        </small>

                    </span>
                    <a href="/Problem/Edit/319" class="hide btn">
                        <span class="fa fa-pencil-square-o"></span> 修改
                    </a>
                    <span class="pull-right">
                        <span data-author-id="2696">
                            <span data-toggle="tooltip" title="" data-original-title="">
                                <span class="fa fa-user-circle-o"></span>
                                <a href="/User/2696">
                                    wasd
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                <span>①</span>
                            </a>
                        </span>
                    </span>
                    <div style="font-size:24px;word-break:break-all;">
                        <span class="problem-status label-warning">协助中</span>
                        <span class="hide" data-problem-status="InProgress"></span>
                        <a href="/Problem/319" style="color:black;">SVN资源库没有这个文件加  但是提交时却显示冲突</a>
                    </div>
                    <div style="margin-top:10px; margin-bottom:10px; word-break:break-all;" class="clearfix">
                        <div class="pull-right text-center remote-icon" style="margin-left:20px;" title="" data-toggle="tooltip" data-original-title="远程">
                            <b class="iconfont icon-remote-help" style="font-size:20px;"></b>
                        </div>
                        <a href="/Problem/319" data-toggle="tooltip" title="" data-original-title="全文">……</a>
                        <a href="/Problem/AdminEdit?id=319" class="hide" style="margin-left:15px;">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </div>
                    <p style="clear:both;">
                        <span class="fa fa-tags " style="margin-right:10px;"></span>
                        <span title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 5 次">
                            <a href="/Problem?keyword=452" style="color:white;">svn</a>
                        </span>
                        <span zyf-keyword="71" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 71 次">
                            <a href="/Problem?keyword=170" style="color:white;">JAVA</a>
                        </span>
                        <a href="" class="hide" zyf-keyword-update="319">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </p>
                    <div class="status">
                        <span>
                            <span>

                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                    <span class="iconfont icon-money"></span>
                                </a>

                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">悬赏：</span>
                            </span>
                            <span data-toggle="tooltip" title="" data-original-title="定额">10</span>
                        </span>
                        <span>
                            <a href="/Problem/319#new-comment">
                                <span class="fa fa-heart" style="color:red;"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">应答：</span>
                            </a>
                            <span>
                                6
                            </span>
                        </span>
                        <span>
                            <a href="/Problem/319#summary">
                                <span class="fa fa-key"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">总结：</span>
                            </a>
                            <span>
                                0
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <hr>
            <div style="margin:10px 0; clear:both;">
                <div style="padding-top:20px;">
                    <span data-toggle="tooltip" title="" data-original-title="更新：2018年04月28日 11点20分">
                        <small class="text-muted">
                            <span>
                                <span class="fa fa-calendar"></span> <span> 2018年01月03日 23点04分</span>
                            </span>
                        </small>
                    </span>
                    <a href="/Problem/Edit/273" class="hide btn" zyf-problem-author-id="2195">
                        <span class="fa fa-pencil-square-o"></span> 修改
                    </a>
                    <span class="pull-right">
                        <span data-author-id="2195">
                            <span data-toggle="tooltip" title="" data-original-title="">
                                <span class="fa fa-user-circle-o"></span>
                                <a href="/User/2195" zyf-show-contact="2195">
                                    奇葩秋
                                </a>
                            </span>
                            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级学徒">
                                <span>①</span>
                            </a>
                        </span>
                    </span>
                    <div style="font-size:24px;word-break:break-all;">
                        <span class="problem-status label-warning">协助中</span>
                        <span class="hide" data-problem-status="InProgress"></span>
                        <a href="/Problem/273" style="color:black;">python爬虫不能够得到网址</a>
                    </div>
                    <div style="margin-top:10px; margin-bottom:10px; word-break:break-all;" class="clearfix">
                        <div class="pull-right text-center remote-icon" style="margin-left:20px;" title="" data-toggle="tooltip" data-original-title="远程">
                            <b class="iconfont icon-remote-help" style="font-size:20px;"></b>
                        </div>
                        我去爬了智能招聘的网站，但是用下面那个代码爬到10面的时候，就不能够得到网址importrequestsfrombs4importBeautifulSoupimportredefgetHttp(url) :try:dic={'User-Agent':'Google/10.0'}r=requests.get(url,headers=dic)r.raise_for_status()r.encoding=r.apparent_encodingreturnr.textexcept:return""url="htt<a href="/Problem/273" data-toggle="tooltip" title="" data-original-title="全文">……</a>
                        <a href="/Problem/AdminEdit?id=273" class="hide" style="margin-left:15px;">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </div>
                    <p style="clear:both;">
                        <span class="fa fa-tags " style="margin-right:10px;"></span>
                        <span zyf-keyword="3" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 3 次">
                            <a href="/Problem?keyword=109" style="color:white;">爬虫</a>
                        </span>
                        <span zyf-keyword="18" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 18 次">
                            <a href="/Problem?keyword=173" style="color:white;">Python</a>
                        </span>
                        <span zyf-keyword="242" title="" data-toggle="tooltip" class="badge badge-has-used" style="margin-right:5px;" data-original-title="已使用 242 次">
                            <a href="/Problem?keyword=163" style="color:white;">编程开发语言</a>
                        </span>
                        <a href="" class="hide" zyf-keyword-update="273">
                            <span class="fa fa-pencil-square-o"></span> 修改
                        </a>
                    </p>
                    <div class="status">
                        <span>
                            <span>

                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                    <span class="iconfont icon-money"></span>
                                </a>

                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">悬赏：</span>
                            </span>
                            <span data-toggle="tooltip" title="" data-original-title="定额">0</span>
                        </span>
                        <span>
                            <a href="/Problem/273#new-comment">
                                <span class="fa fa-heart" style="color:red;"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">应答：</span>
                            </a>
                            <span>
                                6
                            </span>
                        </span>
                        <span>
                            <a href="/Problem/273#summary">
                                <span class="fa fa-key"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">总结：</span>
                            </a>
                            <span>
                                0
                            </span>
                        </span>
                    </div>

                </div>

            </div>
            <hr>
            <div class="modal fade" tabindex="-1" role="dialog" zyf-keyword-update-modal="">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title"><span class="fa fa-pencil-square-o"></span> 修改关键字</h4>
                        </div>
                        <div class="modal-body" zyf-keyword-update-modal-body="">
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <nav>
                <ul class="pagination">
                    @for (int i = 1; i <= 10; i++)
                    {
                        <li class="active"><a id="1" href="/Problem?Page=@i">@(i)</a></li>
                    }
                    <li><a id="2" href="#">&gt;&gt;</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-4 visible-md visible-lg">
            @Html.Action("_Keyword", "Shared")
            @Html.Action("_RankingList", "Shared")
            @Html.Action("_Article", "Shared")
            @Html.Action("_Advertising", "Shared")
            <div class="modal fade" tabindex="-1" role="dialog" zyf-adinwidget-free-modal="">
            </div><!-- /.modal -->

        </div>

    </div>
    <a zyf-global-feedback="" href="/Contact/Us" style="bottom: 132px; right: 339.5px;" class="feedback flag text-center">
        <span class="fa fa-question-circle-o"></span><br>帮助
    </a>
    <a zyf-global-feedback="" href="/Suggest/New" style="bottom: 80px; right: 339.5px;" class="feedback flag text-center">
        <span class="fa fa-comments-o"></span><br>反馈
    </a>
    <hr>
    <footer>
        <div>
            <a href="/About/Us">关于我们</a> |
            <a href="/FAQ">常见问题</a> |
            <a href="/Suggest">意见建议</a> |
            <a href="/Notice">历史通知</a> |
            <a href="/Donate" class="text-success">友情捐赠</a> |
            <a href="/About/Fund" class="text-info">融资2018</a>
        </div>
        <div>
            友情链接：
        </div>
        <p class="pull-right"><a href="http://www.miitbeian.gov.cn">渝ICP备18007191号（备案）</a>© 2020 - 首顾科技</p>
    </footer>
</div>
