@page
@model _17bnag.indexsModel
@{
    Layout = "~/Pages/Layout/_DualColumn.cshtml";
}
@*添加Problem.cshtml，让其只显示页面本身内容（如：<h1>我是Promblem内容页</h1>），不显示_Layout.cshtml中的内容。*@
@section Description
{
    <title>@ViewData["title"]</title>
}
<h2>indexs:@PageContext.RouteData.Values["id"]</h2>
<form>
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Release[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release[0].PublishDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release[0].Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release[0].KeyWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release[0].Moneys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release[0].Resort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Release)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyWord)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moneys)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resort)
                </td>
                <td>
                    <a asp-page="/Problems/Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="/Problems/Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="/Problems/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
